* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(57, 57, 87);
    --color-white: rgb(226, 226, 226);
    --purple-highlight: rgb(203, 195, 227);
  }

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    color: white;
    text-align: center; 
}

li {
    list-style: none; 
}

.top-bar {
    display:flex;
    justify-content: space-between;
}

/* Outer Container */
.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 100%;
    margin: 0 auto;
    width: 50%;
}

.quiz-into {
    margin-bottom: 50vh;
}

.quiz-intro p {
    text-align: center;
}

.quiz-intro button {
    display: block;
    margin: 0 auto;
}

.quiz-intro, main {
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aqua;
}

.question-screen {
    display: none; 
}

.quiz-finish-screen {
    display: none; 
}

main {
    display: block;
}

p{
    color: var(--color-white);
    font-size: 1.3em;
}

button {
    outline: none;
    background-color: white;
    color: #BF40BF;
    font-size: 1.2em;
    border: none;
}

main {
    display: none; 
}

.highscores-screen {
    display: block;
}



